.root_container {
  margin: 20px 0 0 0;
  padding: 20px 0 0 0;
}

.timer_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
}

.canvas_container {
  padding: 10px;
  margin-top: 10px;
  margin-right: 20px;
}

.digital_container {
  color: #424242;
  margin: auto;
  width: 80%;
}

.digital_second {
  font-size: 24px;
  text-align: center;
}

@media screen and (max-width: 610px) {
  .root_container {
    margin: 10px 0 0 0;
    padding: 10px 0 0 0;
  }
}
